<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/forsi.css}">
    <link rel="stylesheet" th:href="@{/table.css}">
    <link rel="stylesheet" th:href="@{/Forretningsudvikler/forretningsUdlejede.css}">
    <link rel="stylesheet" th:href="@{/Forretningsudvikler/forretningsViewBil.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}">
    <title>Title</title>
</head>
<body>
<div class="page">
    <div class="nav">
        <img id="logo" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/BILABONNEMENT_rgb_m2nbaw.svg" alt="logo">
        <h2>**</h2>
        <div class="section">
            <a href="/lejeaftale/dataregForsiden">
                <img src="/images/database.png">
                <h3>Dataregistrering</h3>
            </a>
        </div>
        <div class="section">
            <a href="/">
                <img src="/images/tools.png">
                <h3>Skade&Udbedring</h3>
            </a>
        </div>
        <div class="section">
            <a href="/forretningsudvikler/udlejet">
                <img src="/images/briefcase.png">
                <h3>Forretningsudvikler</h3>
            </a>
        </div>
    </div>
    <div class="main-content">
        <h2>Dataregistrering</h2>
        <div class="main-buttons">
            <a href="/lejeaftale/create">
                <button>Opret lejeaftale</button>
            </a>
            <a href="/bil/create">
                <button >Opret bil</button>
            </a>
            <a href="/lejeaftale/dataregForsiden">
                <button id="active">Alle lejeaftaler</button>
            </a>

            <a href="/bil/viewAll">
                <button>Alle Biler</button>
            </a>
            <a href="/statistik">
                <button>Alle udlejede biler</button>
            </a>
        </div>
        <div class="dynamic-content">
            <div class="left">

            </div>
            <div class="right">
                <div class="container">
                    <h3 th:text="${bil.mærke} + ' ' + ${bil.model}"></h3>
                    <table>
                        <tbody>
                        <tr>
                            <td>Stelnummer</td>
                            <td th:text="${bil.stelnummer}"></td>
                        </tr>
                        <tr>
                            <td>Mærke</td>
                            <td th:text="${bil.mærke}"></td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td th:text="${bil.model}"></td>
                        </tr>
                        <tr>
                            <td>Brændstof</td>
                            <td th:text="${bil.brandstof}"></td>
                        </tr>
                        <tr>
                            <td>Odometer</td>
                            <td th:text="${bil.odometer}"></td>
                        </tr>
                        <tr>
                            <td>LejePris</td>
                            <td th:text="${bil.pris}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="table-buttons">
                        <a th:href="@{'/bil/updateBil/' + ${bil.stelnummer}}">
                            <button>Rediger</button>
                        </a>
                        <div class="table-buttons">
                            <a th:href="@{'/bil/deleteBil/' + ${bil.stelnummer}}">
                                <button>Slet</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>